<!-- <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Kopfprofil_Pantherophis_guttatus.jpg" alt="" style="margin-top: 1rem"> -->

<div style="text-align: center">
        <img style="max-width: 98%"
        mat-card-image  src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Kopfprofil_Pantherophis_guttatus.jpg">
        
</div>


<div class="main_presentation"> 
        <mat-card main_presentation_card >
                <mat-card-content>
                        <p>
                          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                          bred for hunting.
                        </p>
                      </mat-card-content>
        </mat-card>
        

</div>
