<div class="mainContainer" >
  <h5>Наши соц. сети...</h5>
  <ul style="list-style-type:none">
    <li> <a href=""><img class="imgSocial" src="../../../assets/Mail.png" alt=""></a> </li>
    <li> <a href=""><img class="imgSocial" src="../../../assets/Odnoklassniki.png" alt=""></a> </li>
    <li> <a href=""><img class="imgSocial" src="../../../assets/VKontakte.png" alt=""></a> </li>
    <li> <a href=""><img class="imgSocial" src="../../../assets/64x64.png" alt=""></a> </li>
  </ul>
  <h5 >Сайт разработан  <a href="https://github.com/SejimF">К.Максимом</a></h5>

</div>
