
      
      <mat-card class="mat-elevation-z6"  *ngIf="!edit_mode">

                <mat-card-title>
                    <span *ngIf="!edit_mode">  {{ photo.title }} </span>
                    <span *ngIf="edit_mode"> <label for="title">Enter Name:</label> <input type="title" name="title" placeholder="Enter the name" value="{{photo.title}}">  </span>  
                   


                
                </mat-card-title>
        
            <img  mat-card-image src="{{ photo.imageUrl }}" alt="{{ photo.title }}" (click)="imageClicked()" [routerLink]="[imageIndex]">
        
            <mat-card-content>
                {{ photo.description }}   
              </mat-card-content>
              <mat-card-actions>
                  <div *ngIf="(authState | async).authenticated" >
                      <button mat-mini-fab color="warn" (click)="onDelete(photo.pushKey)" ><mat-icon>delete_forever</mat-icon></button>
                      <button mat-mini-fab color="primary" (click)="onEdit()" ><mat-icon>edit</mat-icon></button>
              </div>
              </mat-card-actions>

        </mat-card>



        <mat-card class="mat-elevation-z10" *ngIf="edit_mode">
                <form [formGroup]="photoForm" (ngSubmit)="submitNewPhoto()">
                          <mat-form-field>
                              <input matInput placeholder="Название" formControlName="title" [(ngModel)]="photo.title"  id="title" type="text">
                          </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Адрес Фотографии" formControlName="imageUrl" [(ngModel)]="photo.imageUrl" id="imageUrl" type="text" #imagePath>
                        </mat-form-field>
                          <img mat-card-image [src]="imagePath.value">                        
                        <mat-form-field>
                          <textarea matInput placeholder="Описание" formControlName="description" [(ngModel)]="photo.description" name="description" id="description" cols="10" rows="5"></textarea>
                        </mat-form-field>
                        <button mat-raised-button color="primary"  type="submit"><mat-icon>done</mat-icon></button>
                      </form>
        </mat-card>


